body {
  /* background-color: #282c34; */
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

p {
  color: white;
}

.dash-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: auto;
  width: 100%;
}
.date-box {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100vh;
  background-color: white;
  position: static;
  padding-top: 3.4%;
}
@media (max-width: 500px) {
  .date-box {
    display: none;
  }
}

.date-box :hover {
  color: black;
  border-style: dotted;
  cursor: pointer;
}

.date-box-item {
  border: 1px solid lightgrey;
  padding: 20%;
  color: grey;
  border-radius: 3px;
  font-size: larger;
}

.cta-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding-top: 10%;
}

@media (max-width: 500px) {
  .cta-top {
    display: flex;
    flex-direction: row;
    float: left;
    margin: auto;
    width: 375px;
    padding-top: 30%;
  }
  #score-gauge-inner {
    font-size: small;
  }

  #cta-top-item1 {
    display: flex;
    padding: 4%;
    width: 30%;
  }
  .top-chartz {
    display: flex;
    flex-direction: column;
  }
  .dash-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
}

#cta-top-item1 {
  border: 1px solid white;
  border-radius: 10px;
  margin: auto;
  padding: 4%;
}

#cta-top-item2 {
  margin: auto;
  padding-top: 13%;
}

/* #score-gauge-inner {
  margin: auto;
  padding-top: 30%;
  width: 30%;
} */

.chart-display-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-left: 5%;
}

.chart-border-box {
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.chart-sxs {
}

#awake-icon {
  font-size: 14px;
  padding-top: 300%;
}

#line-chart-triple {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 2%;
  font-size: 0.9rem;
}
#line-chart-triple-icon {
  padding-top: 3%;
}

#dropdown-item {
  cursor: pointer;
}

.top-chartz {
  display: flex;
  padding-left: 5%;
  padding-bottom: 10%;
}

#xaxis-split {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 90%;
  margin: auto;
}

#stage-chart-tool {
  margin: auto;
  width: 100px;
}

#stage-chart-top-tool {
  background-color: rgb(228, 238, 242);
  text-align: left;
  padding: 5%;
}

#stage-chart-bottom-tool {
  background-color: white;
  text-align: left;
  padding: 5%;
}
